body {
  background-color: white;
}

.main {
  background: url(../img/imgBackground\ 1.png) center no-repeat;
  background-size: cover;
}

.main .wrapper {
  width: 80%;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  margin-bottom: 120px;
}

.burger-menu .line {
  width: 30px;
  background: white;
  border-radius: 10px;
  height: 2px;
  margin-bottom: 8px;
}

nav {
  width: 30%;
  display: flex;
  justify-content: space-between;
}

nav a {
  color: white;
}

.main h1 {
  color: #ffffff;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  margin-bottom: 50px;
  width: 50%;
}

.main h1 + p {
  color: white;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 70px;
  width: 30%;
}

.main .container {
  width: 35%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 120px;
}

.btn-orange {
  padding: 20px 60px;
  background-color: orange;
  border-radius: 38px;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.btn-white {
  padding: 20px 60px;
  background-color: transparent;
  border-radius: 38px;
  border: 3px solid orange;
  font-size: 20px;
  color: orange;
  cursor: pointer;
}

.play {
  justify-content: space-between;
  display: flex;
  align-items: center;
  width: 35%;
}

.play-card {
  width: 48%;
}

.play-card p,
.icons p {
  color: rgb(187, 183, 183);
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 17px;
}

.icons {
  width: 13.2%;
  padding-bottom: 50px;
}

.items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.catalog {
  background: white;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.catalog.wrapper {
  width: 70%;
  padding: 160px 0;
}

.catalog .card-one {
  width: 60%;
  object-fit: cover;
}

.catalog .card-two {
  width: 38%;
}

.card-two h2 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 55px;
  margin: 30px 0;
}

.card-two p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 50px;
  margin-bottom: 30px;
}
.contacts {
  height: 600px;
  background: url(../img/imgForm\ 1.png) center no-repeat;
  background-size: cover;
  margin: 0 auto;
  margin-bottom: 160px;
}

.contacts .wrapper {
  width: 70%;
  display: flex;
  justify-content: flex-end;
}
.container {
  margin-top: 40px;
  width: 65%;
  display: flex;
}
.request {
  width: 65%;
  margin: 130px 0px;
}
.request h2 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 55px;
  margin-bottom: 30px;
}
.request p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 30px;
  width: 40%;
}
.form {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin: 130px;
  justify-content: space-between;
  margin-right: 25px;
}
input {
  padding: 20px 60px 20px 20px;
  border-radius: 38px;
  border: 2px solid#CED8DF;
  margin-bottom: 25px;
  cursor: pointer;
}
input::placeholder {
  color: #ced8df;
  font-size: 20px;
  letter-spacing: 5px;
}
.form p {
  margin: 20px;
}
a {
  color: orange;
  cursor: pointer;
}

.travel {
  background-color: #ffffff;
  height: 470px;
  margin-bottom: 160px;
}
.travel-wrapper {
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
}
.card-three {
  height: 470px;
  width: 38%;
}
.card-three h2 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 55px;
  margin: 45px 0 45px 0;
}
.card-three p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 33px;
  margin-bottom: 50px;
  width: 80%;
}
.travel .card-four {
  height: 470px;
  width: 60%;
  background: url(../img/imgHawaii\ .png) center no-repeat;
  background-size: cover;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.comment {
  margin: 45px 0px 0px 45px;
}
.comment .com {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 29px;
  color: #ffffff;
}
.comment p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.live {
  margin: 0px 45px 45px 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.live p {
  width: 42%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
  color: #ffffff;
}

footer {
  height: 180px;
  background: #f8f8f8;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer.wrapper {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

footer .logo {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.footer p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #90a4b2;
  width: 20%;
}
